@media (-moz-bool-pref: "zenix.tab-groups.enabled") {
    :root {
        --tab-group-color-blue: var(--zenix-color-blue) !important;
        --tab-group-color-blue-invert: var(--zenix-color-blue-invert) !important;
        --tab-group-color-blue-pale: var(--zenix-color-blue-pale) !important;

        --tab-group-color-purple: var(--zenix-color-purple) !important;
        --tab-group-color-purple-invert: var(--zenix-color-purple-invert) !important;
        --tab-group-color-purple-pale: var(--zenix-color-purple-pale) !important;

        --tab-group-color-cyan: var(--zenix-color-cyan) !important;
        --tab-group-color-cyan-invert: var(--zenix-color-cyan-invert) !important;
        --tab-group-color-cyan-pale: var(--zenix-color-cyan-pale) !important;

        --tab-group-color-orange: var(--zenix-color-orange) !important;
        --tab-group-color-orange-invert: var(--zenix-color-orange-invert) !important;
        --tab-group-color-orange-pale: var(--zenix-color-orange-pale) !important;

        --tab-group-color-yellow: var(--zenix-color-yellow) !important;
        --tab-group-color-yellow-invert: var(--zenix-color-yellow-invert) !important;
        --tab-group-color-yellow-pale: var(--zenix-color-yellow-pale) !important;

        --tab-group-color-pink: var(--zenix-color-pink) !important;
        --tab-group-color-pink-invert: var(--zenix-color-pink-invert) !important;
        --tab-group-color-pink-pale: var(--zenix-color-pink-pale) !important;

        --tab-group-color-green: var(--zenix-color-green) !important;
        --tab-group-color-green-invert: var(--zenix-color-green-invert) !important;
        --tab-group-color-green-pale: var(--zenix-color-green-pale) !important;

        --tab-group-color-red: var(--zenix-color-red) !important;
        --tab-group-color-red-invert: var(--zenix-color-red-invert) !important;
        --tab-group-color-red-pale: var(--zenix-color-red-pale) !important;

        --tab-group-color-gray: var(--zenix-color-gray) !important;
        --tab-group-color-gray-invert: var(--zenix-color-gray-invert) !important;
        --tab-group-color-gray-pale: var(--zenix-color-gray-pale) !important;
    }

    tab-group:has(tab[hidden]) {
        display: none !important;
    }

    /* Tab groups on vertical tabs */

    @media (-moz-bool-pref: "zen.tabs.vertical") {
        tab-group {
            display: grid !important;
            background: color-mix(in srgb,
                    var(--tab-group-color-invert) 12%,
                    transparent) !important;
            border-radius: calc(var(--border-radius-medium) + 2px) !important;
            margin-top: 2px !important;
            margin-bottom: 1px !important;
            margin-inline: 2px !important;
            border: 2px solid color-mix(in srgb, var(--tab-group-color) 50%, transparent) !important;
            transition: background 0.2s ease;
            overflow: hidden !important;

            & .tab-group-label-container {
                border-radius: calc(var(--border-radius-medium) + 2px) !important;
                transition: transform 0.2s ease;

                &:hover {
                    background-color: var(--tab-hover-background-color) !important;
                }

                &:active {
                    transform: scale(0.95, 0.95) !important;
                }
            }

            & .tab-group-label-container {
                margin-inline: 0 !important;
                width: 100%;

                &:after {
                    display: none;
                    padding: 0 !important;
                    transform: scaleX(1) !important;
                    background-color: color-mix(in srgb,
                            var(--tab-group-color) 50%,
                            transparent) !important;
                    transition: transform 0.2s ease-out !important;
                }

                &>label {
                    max-width: 100% !important;
                    padding-top: 5px !important;
                    padding-bottom: 6px !important;
                    padding-inline: 0.9em !important;
                    background: transparent !important;
                    border: unset !important;
                    font-weight: 600 !important;
                    text-align: unset !important;
                    color: var(--sidebar-text-color) !important;
                    padding-left: 29px !important;
                }

                &>label::before {
                    content: "" !important;
                    position: absolute !important;
                    left: 7px !important;
                    top: 25%;
                    width: 16px !important;
                    height: 16px !important;
                    background-color: var(--sidebar-text-color);
                    mask-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMjAgOS41MDJWOC43NWEyLjI1IDIuMjUgMCAwIDAtMi4yNS0yLjI1aC01LjcyNWwtMi4zOC0xLjk4QTIuMjUgMi4yNSAwIDAgMCA4LjIwNCA0SDQuMjVBMi4yNSAyLjI1IDAgMCAwIDIgNi4yNWwtLjAwNCAxMS41QTIuMjUgMi4yNSAwIDAgMCA0LjI0NiAyMEgxOC40N2ExLjc1IDEuNzUgMCAwIDAgMS42OTgtMS4zMjVsMS43NS02Ljk5OGExLjc1IDEuNzUgMCAwIDAtMS42OTgtMi4xNzVIMjBaTTQuMjUgNS41aDMuOTU2YS43NS43NSAwIDAgMSAuNDguMTczbDIuNTg4IDIuMTU0YS43NS43NSAwIDAgMCAuNDguMTczaDUuOTk2YS43NS43NSAwIDAgMSAuNzUuNzV2Ljc1Mkg2LjQyNGEyLjI1IDIuMjUgMCAwIDAtMi4xODMgMS43MDRsLS43NDQgMi45NzhMMy41IDYuMjVhLjc1Ljc1IDAgMCAxIC43NS0uNzVabTEuNDQ3IDYuMDdhLjc1Ljc1IDAgMCAxIC43MjctLjU2OEgyMC4yMmEuMjUuMjUgMCAwIDEgLjI0Mi4zMWwtMS43NSA2Ljk5OWEuMjUuMjUgMCAwIDEtLjI0Mi4xODlINC4yODVhLjI1LjI1IDAgMCAxLS4yNDMtLjMxbDEuNjU1LTYuNjJaIiBmaWxsPSIjMDAwMDAwIi8+PC9zdmc+");
                    mask-size: contain;
                    mask-repeat: no-repeat;
                    background-size: contain !important;
                    background-repeat: no-repeat !important;
                }
            }

            & tab {
                opacity: 1 !important;
                max-height: 5em !important;
                margin-left: 8px !important;
                transition:
                    font-size 0.25s,
                    margin 0.25s,
                    padding 0.25s,
                    opacity 0.25s !important;

                @media not (-moz-bool-pref: "zen.view.sidebar-expanded") {
                    margin-left: 0 !important;
                }
            }

            &[collapsed] {
                height: auto !important;
                overflow: hidden !important;

                & .tab-group-label-container {
                    &:after {
                        content: "" !important;
                        height: 2px !important;
                        position: absolute !important;
                        inset: auto 0 0 !important;
                        transform: scaleX(0) !important;
                        transition: transform 0.2s ease-in !important;
                    }
                }

                & tab {
                    display: flex !important;
                    opacity: 0 !important;
                    padding: 0 !important;
                    font-size: 0 !important;
                    margin: 0 !important;
                    transition:
                        opacity 0.25s ease-in,
                        font-size 0.25s ease-out,
                        margin 0.25s ease-out,
                        padding 0.25s ease-out !important;
                }

                & .tab-group-label-container>label::before {
                    content: "" !important;
                    position: absolute !important;
                    left: 7px !important;
                    top: 25%;
                    width: 16px !important;
                    height: 16px !important;
                    background-color: var(--sidebar-text-color);
                    mask-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC4yMDcgNGMuNDYgMCAuOTA4LjE0MSAxLjI4NC40MDJsLjE1Ni4xMkwxMi4wMjIgNi41aDcuNzI4YTIuMjUgMi4yNSAwIDAgMSAyLjIyOSAxLjkzOGwuMDE2LjE1OC4wMDUuMTU0djlhMi4yNSAyLjI1IDAgMCAxLTIuMDk2IDIuMjQ1TDE5Ljc1IDIwSDQuMjVhMi4yNSAyLjI1IDAgMCAxLTIuMjQ1LTIuMDk2TDIgMTcuNzVWNi4yNWEyLjI1IDIuMjUgMCAwIDEgMi4wOTYtMi4yNDVMNC4yNSA0aDMuOTU3Wm0xLjQ0IDUuOTc5YTIuMjUgMi4yNSAwIDAgMS0xLjI0NC41MTJsLS4xOTYuMDA5LTQuNzA3LS4wMDF2Ny4yNTFjMCAuMzguMjgyLjY5NC42NDguNzQzbC4xMDIuMDA3aDE1LjVhLjc1Ljc1IDAgMCAwIC43NDMtLjY0OGwuMDA3LS4xMDJ2LTlhLjc1Ljc1IDAgMCAwLS42NDgtLjc0M0wxOS43NSA4aC03LjcyOUw5LjY0NyA5Ljk3OVpNOC4yMDcgNS41SDQuMjVhLjc1Ljc1IDAgMCAwLS43NDMuNjQ4TDMuNSA2LjI1djIuNzQ5TDguMjA3IDlhLjc1Ljc1IDAgMCAwIC4zOTUtLjExM2wuMDg1LS4wNiAxLjg5MS0xLjU3OC0xLjg5LTEuNTc1YS43NS43NSAwIDAgMC0uMzc3LS4xNjdMOC4yMDcgNS41WiIgZmlsbD0iIzAwMDAwMCIvPjwvc3ZnPg==");
                    mask-size: contain;
                    mask-repeat: no-repeat;
                    background-size: contain !important;
                    background-repeat: no-repeat !important;

                    @media not (-moz-bool-pref: "zen.view.sidebar-expanded") {
                        left: 9px !important;
                    }
                }
            }
        }

        tab-group:hover {
            background: color-mix(in srgb,
                    var(--tab-group-color-invert) 30%,
                    transparent) !important;
            transition: background 0.2s ease;
        }
    }

    /* Tab groups on horizontal tabs */

    @media not (-moz-bool-pref: "zen.tabs.vertical") {
        tab:not([fadein]) {
            display: none;
        }

        tab-group {
            & tab {
                background: color-mix(in srgb,
                        var(--tab-group-color-invert) 12%,
                        transparent) !important;
                border: 2px solid color-mix(in srgb, var(--tab-group-color) 50%, transparent) !important;
                border-radius: 0 !important;
                border-left: 0 !important;
                border-right: 0 !important;
            }

            & tab:last-child {
                border: 2px solid color-mix(in srgb, var(--tab-group-color) 50%, transparent) !important;
                border-left: 0 !important;
                border-radius: 0 calc(var(--border-radius-medium) + 2px) calc(var(--border-radius-medium) + 2px) 0 !important;
            }

            & .tab-group-label-container {
                transition: transform 0.2s ease;
                background: color-mix(in srgb,
                        var(--tab-group-color-invert) 12%,
                        transparent) !important;
                border: 2px solid color-mix(in srgb, var(--tab-group-color) 50%, transparent) !important;
                border-radius: calc(var(--border-radius-medium) + 2px) 0 0 calc(var(--border-radius-medium) + 2px) !important;
                border-right: 0 !important;

                &:hover {
                    background-color: var(--tab-hover-background-color) !important;
                }

                &:active {
                    transform: scale(0.95, 0.95) !important;
                }
            }

            & .tab-group-label-container {
                margin-inline: 0 !important;

                &:after {
                    display: none;
                    padding: 0 !important;
                    transform: scaleX(1) !important;
                    background-color: color-mix(in srgb,
                            var(--tab-group-color) 50%,
                            transparent) !important;
                    transition: transform 0.2s ease-out !important;
                }

                &>label {
                    max-width: 100% !important;
                    padding-top: 5px !important;
                    padding-bottom: 6px !important;
                    padding-inline: 0.9em !important;
                    background: transparent !important;
                    border: unset !important;
                    font-weight: 600 !important;
                    text-align: unset !important;
                    color: var(--sidebar-text-color) !important;
                    padding-left: 29px !important;
                }

                &>label::before {
                    content: "" !important;
                    position: absolute !important;
                    left: 7px !important;
                    top: 25%;
                    width: 16px !important;
                    height: 16px !important;
                    background-color: var(--sidebar-text-color);
                    mask-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMjAgOS41MDJWOC43NWEyLjI1IDIuMjUgMCAwIDAtMi4yNS0yLjI1aC01LjcyNWwtMi4zOC0xLjk4QTIuMjUgMi4yNSAwIDAgMCA4LjIwNCA0SDQuMjVBMi4yNSAyLjI1IDAgMCAwIDIgNi4yNWwtLjAwNCAxMS41QTIuMjUgMi4yNSAwIDAgMCA0LjI0NiAyMEgxOC40N2ExLjc1IDEuNzUgMCAwIDAgMS42OTgtMS4zMjVsMS43NS02Ljk5OGExLjc1IDEuNzUgMCAwIDAtMS42OTgtMi4xNzVIMjBaTTQuMjUgNS41aDMuOTU2YS43NS43NSAwIDAgMSAuNDguMTczbDIuNTg4IDIuMTU0YS43NS43NSAwIDAgMCAuNDguMTczaDUuOTk2YS43NS43NSAwIDAgMSAuNzUuNzV2Ljc1Mkg2LjQyNGEyLjI1IDIuMjUgMCAwIDAtMi4xODMgMS43MDRsLS43NDQgMi45NzhMMy41IDYuMjVhLjc1Ljc1IDAgMCAxIC43NS0uNzVabTEuNDQ3IDYuMDdhLjc1Ljc1IDAgMCAxIC43MjctLjU2OEgyMC4yMmEuMjUuMjUgMCAwIDEgLjI0Mi4zMWwtMS43NSA2Ljk5OWEuMjUuMjUgMCAwIDEtLjI0Mi4xODlINC4yODVhLjI1LjI1IDAgMCAxLS4yNDMtLjMxbDEuNjU1LTYuNjJaIiBmaWxsPSIjMDAwMDAwIi8+PC9zdmc+");
                    mask-size: contain;
                    mask-repeat: no-repeat;
                    background-size: contain !important;
                    background-repeat: no-repeat !important;
                }
            }

            &[collapsed] {
                & .tab-group-label-container {
                    border-radius: calc(var(--border-radius-medium) + 2px) !important;
                    border: 2px solid color-mix(in srgb, var(--tab-group-color) 50%, transparent) !important;
                }

                & tab {
                    display: none;
                }

                & .tab-group-label-container>label::before {
                    content: "" !important;
                    position: absolute !important;
                    left: 7px !important;
                    top: 25%;
                    width: 16px !important;
                    height: 16px !important;
                    background-color: var(--sidebar-text-color);
                    mask-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC4yMDcgNGMuNDYgMCAuOTA4LjE0MSAxLjI4NC40MDJsLjE1Ni4xMkwxMi4wMjIgNi41aDcuNzI4YTIuMjUgMi4yNSAwIDAgMSAyLjIyOSAxLjkzOGwuMDE2LjE1OC4wMDUuMTU0djlhMi4yNSAyLjI1IDAgMCAxLTIuMDk2IDIuMjQ1TDE5Ljc1IDIwSDQuMjVhMi4yNSAyLjI1IDAgMCAxLTIuMjQ1LTIuMDk2TDIgMTcuNzVWNi4yNWEyLjI1IDIuMjUgMCAwIDEgMi4wOTYtMi4yNDVMNC4yNSA0aDMuOTU3Wm0xLjQ0IDUuOTc5YTIuMjUgMi4yNSAwIDAgMS0xLjI0NC41MTJsLS4xOTYuMDA5LTQuNzA3LS4wMDF2Ny4yNTFjMCAuMzguMjgyLjY5NC42NDguNzQzbC4xMDIuMDA3aDE1LjVhLjc1Ljc1IDAgMCAwIC43NDMtLjY0OGwuMDA3LS4xMDJ2LTlhLjc1Ljc1IDAgMCAwLS42NDgtLjc0M0wxOS43NSA4aC03LjcyOUw5LjY0NyA5Ljk3OVpNOC4yMDcgNS41SDQuMjVhLjc1Ljc1IDAgMCAwLS43NDMuNjQ4TDMuNSA2LjI1djIuNzQ5TDguMjA3IDlhLjc1Ljc1IDAgMCAwIC4zOTUtLjExM2wuMDg1LS4wNiAxLjg5MS0xLjU3OC0xLjg5LTEuNTc1YS43NS43NSAwIDAgMC0uMzc3LS4xNjdMOC4yMDcgNS41WiIgZmlsbD0iIzAwMDAwMCIvPjwvc3ZnPg==");
                    mask-size: contain;
                    mask-repeat: no-repeat;
                    background-size: contain !important;
                    background-repeat: no-repeat !important;
                }
            }
        }
    }

    tab-group:not(:has(tab)) {
        display: none !important;
    }
}
